@font-face {
    font-family: "Quicksand Regular";
    src: url("@styles/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand SemiBold";
    src: url("@styles/fonts/Quicksand/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: "Quicksand Bold";
    src: url("@styles/fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("@styles/fonts/BebasNeue/BebasNeue-Regular.ttf");
}